@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

body, html {
    margin: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playwrite NG Modern', sans-serif;
    background-color: rgb(187, 188, 191);
  }
  
  section.question {
    width: 600px;
   height:100%;
   background-color: rgb(32, 40, 55);
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: 50px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(243, 197, 137);
    font-size: 20px;
  font-weight: bold;
  }
  
  .section-question {
    display: flex;
    flex-direction: column;
  }
  
  .article {
    margin-bottom: 20px;
  }
  
  .question-title {

    align-items: center;
    margin-bottom: 30px;
    color: rgb(248, 178, 87);
    margin-top: 60px;
  }
  
  .question-test {
    padding: 2px;
   margin-bottom: 0;
   display: block;

  }
  
  .question-btn {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -40px;
  }
  
  .question-btn .plus-icon {
    font-size: 30px;
    color: rgb(230, 119, 55);
  }
  .question-btn .far.fa-minus-square {
    font-size: 30px;
    color: rgb(172, 125, 97);
  }
button{
    margin-top: -10px;
}

.question-test p{
    color: rgb(162, 160, 157);
    display: block;
    padding: 4px;
    border-top: 4px solid  rgb(172, 125, 97);
    margin-bottom: 0;
  
}
.question-test {
  display: none; /* Nascondi il testo di default */
}

.question.show-text .question-test {
  display: block; /* Mostra il testo quando la classe .show-text è presente */
}
.show-text .fa-plus-square{
    display: inline;
}

.far.fa-minus-square{
    display: none;
}
.show-text .far.fa-minus-square {
  display: block;
}
.show-text .fa-plus-square {
  display: none;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  .question-btn:hover {
    animation: rotate 3s;
    animation-duration: 3s;
  }
  